body {
  background-color: darkslateblue;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

p,
a,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  margin: 0;
}

a {
  color: white;
}

button {
  border: none;
  padding: 4px;
}

header {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 4px;
  width: 100%;
}

.bigButton {
  padding: 16px;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboardButtons {
  display: flex;
  justify-content: space-around;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.history div {
  border: 1px solid white;
  padding: 16px;
}

.loginBar {
  display: flex;
  justify-content: center;
}

.loginBar button {
  margin-right: 8px;
}

.chainSelect {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chainSelect div {
  border: 1px solid white;
  padding: 16px;
}

.tokenSelect {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tokenSelect div {
  border: 1px solid white;
  padding: 16px;
}

.sendTokensForm {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
